
include ../mixins/sub-menu.pug

header.header
  .container
    .header-wrapper.py-2
      .row.align-items-center
        .col-md-3.col-sm-4.col-6
          .logo-wrapper
            a.brand-link(href="/")
              img.img-fluid(src=settingGeneral.logo alt="Logo" style="max-width: 80px; height: auto;")
        
        .col-md-5.col-sm-8.col-12.mt-sm-0.mt-2
          .search-wrapper
            form.search-form(action="/search" method="GET")
              .input-group
                input.form-control(
                  type="text"
                  placeholder="Nhập từ khóa..."
                  name="keyword"
                  value=keyword
                )
                .input-group-append
                  button.btn.btn-primary(type="submit" style="white-space: nowrap;") Tìm
        
        .col-md-4.col-12.mt-md-0.mt-2
          .nav-wrapper
            ul.main-menu.d-flex.justify-content-end.align-items-center.list-unstyled.mb-0
              li.menu-item.mr-3
                a.menu-link(href="/") Trang chủ
              
              li.menu-item.mr-3.sub-menu
                -const pathProduct = "/products"
                a.menu-link(href="/products") Sản phẩm
                //- Using the existing sub-menu mixin directly
                +sub-menu(layoutProductsCategory, pathProduct)
              
              li.menu-item.mr-3
                a.menu-link(href="/cart") 
                  span Giỏ hàng (#{miniCart ? miniCart.totalQuantity : "0"})
              
              if(user)
                li.menu-item.mr-3
                  a.menu-link(href="/chat") Chat
                
                li.menu-item.mr-3
                  a.menu-link(href="/user/info") #{user.fullName}
                
                li.menu-item
                  a.menu-link(href="/user/logout") Đăng xuất
              else
                li.menu-item.mr-3
                  a.menu-link(href="/user/login") Đăng nhập
                
                li.menu-item
                  a.menu-link(href="/user/register") Đăng ký